<p>This is your purchase</p>
<p>Your purchase is <%= @purchase.inspect %></p>
<p>
  and this is <a href="https://s3-us-west-2.amazonaws.com/enok-one-month-stripe/One+Month+Rails+Certificate.pdf"> Your File.</a>  
</p>
